<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .content{
            display:flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>여기서 글자를 세세요!</h1>
        </header>
        <section class="content">
            <aside>
                <a href="{%url 'about'%}">ABOUT</a>
            </aside>
            <main>
                <form action="{%url 'result' %}">
                    <textarea cols="40" rows="10" name="fulltext"></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Count!">
                </form>
            </main>
        </section>
    </div>
</body>

</html>